include ./../mixins/_btn.pug

section.description#section3
    .container
        .description-wrap
            .description-text
                h2.title
                        |Тут текст про товар
                p.artical.description-artical 
                    |При покупке двух заказах мы делаем скидку 15% 
                p.artical.description-artical 
                    |Дополнительный текст
                +btn
            .description-image
                img(src="./../../img/sc3/aquarium_cover.png", alt="фото")
        
        
            