section.product#section1
    .container 
        .product-header 
            h2.title.product-title
                |Почему наша продукция лучше?
            .product-imgled
                img(src="./../../img/backlighting.png", alt="led")
            .product-aqva 
                ul.top-aqva
                    li.aqva-mob
                        span 
                            |Доступная система обслуживания
                        img(src="./../../img/up-left.png", alt="")
                    li.aqva-mob
                        span 
                            |Лёгкая и надёжная конструкция
                        img(src="./../../img/up-left.png", alt="")
                    li.aqva-mob
                        span 
                            |Долговечность
                        img(src="./../../img/up-left.png", alt="")
                    li.aqva-mob
                        span 
                            |Пластик до 5мм 
                        img(src="./../../img/up-left.png", alt="")    
                .aqva-top
                    .top-left 
                        p.aqva-text 
                            |Доступная система обслуживания
                        img(src="./../../img/up-left.png", alt="")
                    .top-right
                        p.aqva-text
                            |Лёгкая и надёжная конструкция
                        img(src="./../../img/up-right.png", alt="")
                .aqva-centr
                    img(src="./../../img/aquarium-products.png", alt="")
                .aqva-bottom
                    .bottom-left
                        p.aqva-text 
                            |Долговечность
                        img(src="./../../img/bottom-left.png", alt="")
                    .bottom-right
                        p.aqva-text
                            |Пластик до 5мм 
                        img(src="./../../img/bottom-right.png", alt="")
        .slider-wrapper
            .product-slider#section2
                h2.title.product-title
                    |Фотогаллерея
                .slider 
                    .owl-carousel.owl-theme
                        .item 
                            img(src="./../../img/slides/photogallery-1.jpg", alt="")
                        .item 
                            img(src="./../../img/slides/photogallery-2.jpg", alt="")
                        .item 
                            img(src="./../../img/slides/photogallery-3.jpg", alt="")
                        .item 
                            img(src="./../../img/slides/photogallery-1.jpg", alt="")
                        .item 
                            img(src="./../../img/slides/photogallery-2.jpg", alt="")
                        .item 
                            img(src="./../../img/slides/photogallery-1.jpg", alt="")
                        .item 
                        img(src="./../../img/slides/photogallery-3.jpg", alt="")
