section.reviews#section4
    .container
        h2.title.description-title
            |Отзывы наших клиентов
        .product-imgled
            img(src="./../../img/backlighting.png", alt="led")
        .reviews-wrapper
            .slider 
                .owl-carousel.owl-theme
                    .item
                        .item-header
                            h4.item-title
                                |Мария
                            date.date 
                                |26.03.2020
                        p.item-stars 
                            |&#9733;&#9733;&#9733;&#9733;&#9733;
                        p.item-footer 
                            |Очень довольна крышкой. Профессионал своего дела.Дал несколько ценных советов. Очень рекомендую всем!!!    
                    .item
                        .item-header
                            h4.item-title
                                |Николай
                            date.date 
                                |26.03.2020
                        p.item-stars 
                            |&#9733;&#9733;&#9733;&#9733;&#9733;
                        p.item-footer 
                            |Очень довольна крышкой. Профессионал своего дела.Дал несколько ценных советов. Очень рекомендую всем!!!    
                    .item
                        .item-header
                            h4.item-title
                                |Павел
                            date.date 
                                |26.03.2020
                        p.item-stars 
                            |&#9733;&#9733;&#9733;&#9733;&#9733;
                        p.item-footer 
                            |Очень довольна крышкой. Профессионал своего дела.Дал несколько ценных советов. Очень рекомендую всем!!!    