.header{
    max-width: 100vw;
    padding-top:237px;
    min-height: 90vh;
    background-image: url(./../../img/header/bgHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.navigation{
    display: none;
    @media (min-width: 1010px){
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 0;
        background: rgba(32, 18, 216, 0.9);
        position: fixed;
        z-index: 100;
    }
}
.nav{
    display: none;
    
    @media (min-width: 768px){
        margin: 0;
    }
}
.nav,
.nav-list {
    display: none;
    
    @media (min-width: 768px){

        display: flex;
        justify-content: space-between;
        align-items:center;
        font-weight: 500;
        font-size: 16px;
    }
}
.nav-item{
    position: relative;
    margin-right: 30px;
    transition: all .4s;
    &:first-child{
        margin-right: 70px;
    }
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        &::after{
        opacity: .8;
        transition: 1s;
        content:'';
        position: absolute;
        border-top: 2px solid #fff;
        top: -20px;
        left: 0;
        right: 0;
        }
    }
}
.nav-link{
    color: #fff;
}
.header-wrap {
    position: relative;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: start;
}
.header-content{
    max-width: 555px;
    margin: 0 auto;
    @media (min-width: 1050px){
        max-width: 555px;
        margin:0;
    }
}

.header-artical{
    margin-bottom: 75px;
}
.header-img{
    display: none;
    @media (min-width: 1050px){
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        img{
            content:'';
            position: absolute;
            top:  80px;
            right: -75%;
            height: auto;
            bottom: 0;
            z-index: 6;
            transform: translate(-50%, -80%);
        }
    }
}
